input[type=text]#drugSearch {
    height: 35px;
    text-indent: 10px;
    font-size: 20px;
    width: 10em;
    text-align:center;
    border-radius: 10px;
    transition: width 0.5s ease-out;
	display:block;
	margin: 0 auto;
	margin-bottom: 0.5em;
	background:transparent url(search.png) no-repeat scroll left center;
	background-size: 18px 18px;
	background-position-x: 5px;
	background-color:#D2D2D2;
	border: none;
	outline:none;
}

input[type=text]:focus#drugSearch {
	width:15em;
	transition: width 0.5s ease-out;
}

.searchContainer{
	margin: 0 auto;
	display: inline-block;
}