<template name="summaryExpandedView">
        <div id = "closeSummaryExpanded">X</div>
        <div class = "row summaryExpandedRow">
            <div class = "col-xs-12"><h1>{{{title}}}</h1></div>
        </div>
        <div class = "row margin-top-05 summaryExpandedRow">
            <div class = "col-xs-3">Reference</div>
            <div class = "col-xs-9">{{{reference}}}</div>
        </div>
        <div class = "row margin-top-05 summaryExpandedRow">
            <div class = "col-xs-3">Study Type</div>
            <div class = "col-xs-9">{{{studyType}}}</div>
        </div>
        <div class = "row margin-top-05 summaryExpandedRow">
            <div class = "col-xs-3">Study Size</div>
            <div class = "col-xs-9">{{{studyType}}}</div>
        </div>
        <div class = "row margin-top-05 summaryExpandedRow">
            <div class = "col-xs-3">Demographics</div>
            <div class = "col-xs-9">{{{demographics}}}</div>
        </div>
        <div class = "row margin-top-05 summaryExpandedRow">
            <div class = "col-xs-3">Regimen</div>
            <div class = "col-xs-9">{{{regimen}}}</div>
        </div>
        <div class = "row margin-top-05 summaryExpandedRow">
            <div class = "col-xs-3">Safety</div>
            <div class = "col-xs-9">{{{safety}}}</div>
        </div>
        <div class = "row margin-top-05 summaryExpandedRow">
            <div class = "col-xs-3">Comments</div>
            <div class = "col-xs-9">{{{comments}}}</div>
        </div>
</template>