<template name= "home">
  
  {{#with homeData}}

        <div class = "row lightBackground vpadding-15">
          <div class="col-xs-2 "></div>
          <div class="col-xs-8">	<p style="text-align: center;">
        		<span style="font-size:26px;">Safety of Herbal Products in Patients with Chronic Renal Disease</span></p>
        	<p style="text-align: center;">
        		<em style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: medium; widows: 1;">Disclaimer:</em>
        		<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: medium; widows: 1;">&nbsp;<em>The 
        		<span tip ="test">content</span> of this website is intended for informational purpose only.&nbsp; 
        		It is not intended to replace clinical judgement or to be used as a substitute for professional advice for an individual patient.</em></span></p>
      		</div>
          <div class="col-xs-2 "></div>
        </div>
  {{/with}}
</template>